@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

body {
  max-width: 432px;
  max-height: 874px;
  margin: 0 auto;
  background: #f0b5ce;
  font-family: "Inter", sans-serif;
  color: #fff;
}

header {
  display: flex;
}

#search {
  padding: 1rem;
  background: transparent;
  border: none;
  outline: transparent;
  color: #fff;
  font-size: 1rem;
}

#search::placeholder {
  color: #ffffff8c;
}

.search-btn {
  background: linear-gradient(
    117deg,
    rgba(255, 255, 255, 0.48) -41.94%,
    rgba(255, 255, 255, 0.12) 57.51%
  );
  padding: 0px 10px 0px 10px;
  backdrop-filter: blur(50px);
  border-radius: 20px;
  width: 263px;
  height: 43px;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.search-btn button {
  background: transparent;
  border: transparent;
}

.hero {
  display: flex;
  justify-content: center;
  color: #fff;
}

.temperature {
  font-size: 10.25rem;
  font-weight: 100;
}

.degree {
  font-size: 32px;
  font-weight: 400;
}

.date {
  display: flex;
  justify-content: center;
  font-size: 36px;
  color: #fff;
  font-weight: 300;
}

.weekday-n-time {
  display: flex;
  justify-content: center;
  font-size: 19px;
  color: #fff;
  font-weight: 300;
}

.wind {
  margin-left: 36px;
  margin-top: 57px;
  font-size: 22px;
  font-weight: 300;
  font-family: "Overpass", sans-serif;
}

.wind div {
  display: flex; 
  align-items: center;
}

.wind div img {
  padding-right: 11px;
}

.windData {
  margin-left: 21px;
}

.rain {
  margin-left: 36px;
  font-size: 22px;
  font-weight: 300;
  font-family: "Overpass", sans-serif;
}

.rain div {
  display: flex; 
  align-items: center;
}

.rain div img {
  padding-right: 11px;
}

.rainData {
  margin-left: 21px;
}